
/*start main rules*/
.main-title{
    margin-left: 550px ;
    margin-right: 500px;
    margin-top: 100px;
    margin-bottom: 100px;
    border: 2px solid black;
    padding: 20px 20px;
    font-size: 30px;
    width: fit-content;
    position: relative;
    z-index: 1;
    transition: 0.3s;

}
.main-title::before{
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    position: absolute;
    border-radius: 50%;
    left: -30px;
    top: 40%;
    transform: translateY(-40%);
    
}
.main-title::after{
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    position: absolute;
    border-radius: 50%;
    right: -30px;
    top: 40%;
    transform: translateY(-40%);
}
.main-title:hover::before{
    z-index: -1;
    animation: left-move 0.5s linear forwards;
}
.main-title:hover::after{
    z-index: -1;
    animation: right-move 0.5s linear forwards;
}
:root{
    --main-color: #191970;
    --main-color-alt:#fff;
}
html{
    scroll-behavior: smooth;
}
body{
    
font-family: 'Roboto Slab', serif;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    
}
@media  (min-width: 768){
    .container{
        width: 750px;
    }
}
    
@media (min-width: 992px)
{
    .container{
        width: 970px;
    }
}
@media (min-width: 1200px)
{
    .container{
        width: 1170px;
    }
}
/*end main rules*/
.header{
    background-color: #191970;
    box-shadow: 0 0 10px #ddd;
    position: relative;
}
.header .container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
    
font-family: 'Roboto Slab', serif;
    
}
.header .logo img{
    width: 100px;
    height: 100px;
    padding: 5px;
}

.header .nav{
    display: flex;
   
    
    
    padding: 0 20px ;
    min-height: 48px;
   

 
}
.nav > li{
    
    padding: 40px 40px;
   

}
.nav > li a {
   color: #fff;
    text-decoration: none;

}
.nav > li li a {
    color: #fff;
     text-decoration: none;
 
 }
.nav .menu {
    position: relative;
    
}
.nav .menu .submenu {
    position: absolute;
    top: 90px;
    left: 0;
    width: 220px;
    background-color: #191970;
    padding: 10px;
    box-shadow: 0 1px 1px rgb(0, 0, 0, .5);
    display: none;
    z-index: 1;

}
.nav .menu .submenu li i{
    left: 200px;

}
.nav .menu .submenu .subsubmenu{
    position: absolute;
    top: 65px;
    left: 235px;
    width: 150px;
    background-color: #191970;
    padding: 10px;
    box-shadow: 0 1px 1px rgb(0, 0, 0, .5);
    display: none;
    z-index: 1;

}

.nav .menu .submenu li {
    padding: 10px;
    border-bottom: 1px solid #fff;
}
.nav  .submenu li a{
    color: #fff;
    text-decoration: none;
    
}
    


.nav .menu .submenu li a:hover{
    color: #c0001a;
}
.nav .menu .submenu .subsubmenu li :hover{
    color: #c0001a;
   
}

.nav   li :hover{
    color: #c0001a;
}
.nav  .submenu:before{
    content: "";
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #c0001a ;
    height: 0;
    width: 0;
    position: absolute;
    left: 40px;
    top: -6px;
    z-index:auto;
    

}
.subsubmenu{
    transform: translateX(5px);
    position: absolute;
}
.nav .menu .submenu li:nth-child(2):hover  .subsubmenu {
    display: block;
}

.nav   li :hover{
    color: #c0001a;
}
.nav  .submenu .subsubmenu:before{
    content: "";
    border-left: 6px solid transparent;
    border-right: 6px solid #c0001a;
    border-bottom: 6px solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    left: 40px;
    top: -1px;
    z-index:auto;
    
}

.nav .menu:hover .submenu{
    display: block;
}
/*.nav .menu .submenu:hover  .subsubmenu{
    display: block;
}*/

.nav .menu .submenu:hover  .subsubmenu li{
    border-bottom: 1px solid #fff;
}
/*st landing*/
.landing{
    position: relative;

}
.landing::before{
    content:"";
    position: absolute;
    left: 0;
    top:-40px;
    height: 100%;
    width: 100%;
    background-color: #ececec;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
}
.landing .container{
    min-height: calc(100vh - 120px);
    display: flex;
    align-items: center;
    padding-bottom: 120px;

}
.landing img{
    position: relative;
    width: 600px;
    height: 400px;
    animation: up-and-down 5s linear infinite;
}
@media (max-width: 991px){
    .landing img{
        display: none;
    }
}

  .landing i  {
    color: var(--main-color);
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s;
    animation: bouncing 1.5s infinite;
  }
.landing .text{
    flex:1;
}
@media (max-width : 991px){
    .landing .text{
         text-align: center;
    }
}

.landing .text h1{
    font-size: 40px;
    margin: 0;
    letter-spacing: -2px;
}
@media (max-width : 767px){
    .landing .text h1{
         font-size: 28px;
    }
}
.landing .text p{
    font-size: 23px;
    line-height: 1.7;
    margin: 5px 0 0;
    color: #666;
    max-width: 500px;
}
@media (max-width : 991px){
    .landing .text p{
         margin: 10px auto;
    }
}
/*start footer*/
/*animation*/
@keyframes up-and-down {
    0%, 100%{
        top: 0px;
    }
    50%{
        top: -50px;
    }
    

}
@keyframes bouncing {
    0%, 10%, 20%, 50%, 80%, 100% {
        transform: translateY(0);

    }
    40%, 60%{
    transform: translateY(-15px);
    }
}
@keyframes left-move {
    50%{
        left: 0;
        width: 12px;
        height: 12px;
    }
    100%{
        left:0;
        border-radius: 0;
        width: 100%;
        height: 100%;

    }
    
}
@keyframes right-move {
    50%{
        right: 0;
        width: 12px;
        height: 12px;
    }
    100%{
        right:0;
        border-radius: 0;
        width: 100%;
        height: 100%;

    }
    
}
@keyframes flashing  {
    0%, 4%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        width: 200%;
        height: 200px;
    }
    
}

/*end animation*/
/*start gallery*/
.gallery{
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    background-color: #ececec;

}


.gallery .container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;

}
.gallery .box-poduct{
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 12px 10px 0px rgb(0 0 0 /11%), 0px 2px 4px 0px rgb(0 0 0 /10%) ;

}
.gallery .box-poduct .image {
    position: relative;
    overflow: hidden;
}
.gallery .box-poduct .image::before{
    content: "";
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 0;
    height: 0;
    opacity: 0;
}
.gallery .box-poduct .image:hover::before{
    animation: flashing 0.7s;
}
.gallery .box-poduct img{
    max-width: 100%;
    width: 200px;
    height: 200px;
}
/*end gallery*/
/*products*/
.products{
    padding-top: 20px;
    padding-bottom: 50px;
    position: relative;
    background-color: #ececec;

}


.products .container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;

}
.products .box{
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 12px 10px 0px rgb(0 0 0 /11%), 0px 2px 4px 0px rgb(0 0 0 /10%) ;
    
    height: 380px;
    overflow: hidden;

}
.products .box p{
    font-size: 12px;
    padding: 10px;
    z-index: -1;
    margin-bottom: 10px;
}

.products .box .image {
    position: relative;
    overflow: hidden;
}
.products .box .image::before{
    content: "";
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 0;
    height: 0;
    opacity: 0;
}

/*.products .box .image:hover::before{
    animation: flashing 0.7s;
}*/
.products .box:hover{
    background-color: var(--main-color) ;
    color: white;
}
.products .box img{
    max-width: 100%;
    width: 200px;
    height: 200px;
    margin-left: 20px;
    margin-right:20px ;
}
.products .box h2{
    font-size: 18px;
    
    text-align: center;
  
}
.products .box h4{
    font-size: 15px;
    padding: 2px;
}
.products .box .button{
    background-color: var(--main-color-alt);
    text-align: center;
    padding: 10px;
    margin: 60px;
    margin-right: 60px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 25px;
    
}

.products .box h3{
    font-size: 12px;
    text-align: center;
}
.products .titre{
    font-size: 30px;
    color: var(--main-color);
    background-color: white;
    text-align: center;
    padding: 15px;
    display: block;
    margin-left: 80px;
    margin-right: 80px;
    border-radius: 25px;
    margin-top: 0px;
    margin-bottom: 50px;
    box-shadow: 0 12px 10px 0px rgb(0 0 0 /10%), 0px 2px 4px 0px rgb(0 0 0 /11%) ;
    opacity: 1;
}


/*contact*/
.contact{
    position: relative;

}
.contact::before{
    content:"";
    position: absolute;
    left: 0;
    top:-40px;
    height: 100%;
    width: 100%;
    background-color: #ececec;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
}
.contact .container{
    min-height: calc(100vh - 120px);
    display: flex;
    align-items: center;
   padding-bottom: 120px;

}
.contact img{
    position: relative;
    width: 200px;
    height: 200px;
    animation: up-and-down 5s linear infinite;
    left:650px;
    top:0;
    

}
@media (max-width: 991px){
    .contact img{
        display: none;
    }
}

  
.contact .text{
    flex:1;
}
@media (max-width : 991px){
    .contact .text{
         text-align: center;
    }
}

.contact .text span
{
    font-size: 20px;
    margin-left: 0px;
    letter-spacing: -2px;
}
@media (max-width : 767px){
    .contact .text h2{
         font-size: 28px;
    }
}
.contact .boxc{
    background-color: #00dafa;
    height: 200px;
    
}.contact .boxc{
display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 40px;}
.contact .text p{
    font-size: 12px;
    line-height: 1.7;
    margin: 5px 0 0;
    color: black;
    max-width: 500px;
    margin-left: 50px;
}
@media (max-width : 991px){
    .contact .text p{
         margin: 10px auto;
    }
}
/*contact*/
.footer {
    background-color: #191970;
    box-shadow: 0 0 10px #ddd;
    position: relative;
    height: 100px;
}
.social-icons{
    width: 25px;
    height: 25px;
    background-color: cornsilk;
}


.footer .container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
} 
.footer img{
    width: 100px;
    height: 95px;
  padding: 2px;
}

.copyright{
    color: #fff;
}
.font{
    color: #fff;
}
.marque .titre{
    font-size: 30px;
    color: var(--main-color);
    background-color: white;
    text-align: center;
    padding: 15px;
    display: block;
    margin-left: 80px;
    margin-right: 80px;
    
}
.marque img {
    margin-top: 10px;
    margin-top: 10px;
    margin-left: 400px;
    margin-right: 400px;
}



/*end footer*/
